        .boton-consultar {
            margin-top: 12px;
        }
        
        .boton-listar {
            margin-left: 10px;
        }
        .custom-pagination {
            margin-left: 58%;
            font: x-large;
        }