<header>

    <section class="textos-header">
        <h1>Mascotas Saludables</h1>
        <h2>Salud y cuidado para tu mascota.</h2>
    </section>
    <br>
    <br>
    <br>
    <div class="container section" id="portfolio">
        <div class="container-fluid">
            <div class="content-center">
                <h2 class="titulo">¡Bienvenido, conocenos!</h2>
                <h3  class="personalizada">Vas a encontrar todo lo necesario para cuidar lo mejor posible de tu mascota,
                    darle la mejor alimentación y conocer todo sobre ella.</h3>
            </div>

            <section class="contenedor sobre-nosotros">
                <div class="contenedor-sobre-nosotros">
                    <img src="assets/images/pastor.jpeg" alt="" class="imagen-about-us">
                    <div class="contenido-textos">
                        <h3><span>1</span>El mejor trato</h3>
                        <h4 class="personalizada">Vas a encontrar todo lo necesario para cuidar lo mejor posible de tu mascota,
                           darle la mejor alimentación y conocer todo sobre ella.</h4>
                        <h3><span>2</span>Los mejores productos</h3>
                        <h4 class="personalizada">Garantizando procesos y productos seguros que cumplan con todos y cada uno de
                        los requisitos legales aplicables con las especificaciones y con las necesidades del cliente.</h4>
                        <h3><span>3</span>¿Eres primerizo?</h3>
                        <h4 class="personalizada">Los perros que crecen sin una socialización adecuada desarrollan miedo y ansiedad,
                          que pueden convertirse en problemas de comportamiento que dificultan su vida.</h4>
                    </div>
                </div>
                <!--Menu-->
            </section>
<br><br><br>
            <main>
                <section id="info">
                    <h3>Para muchos de nosotros las mascotas no son simples compañeros, son miembros de la familia.</h3>
                    <div class="contenedor">
                        <div class="info-pet">
                            <img src="assets/images/perrito_pastillas.jpeg" alt="">
                            <h4>Max</h4>
                        </div>
                        <div class="info-pet">
                            <img src="./assets/images/hamster1.jpg" alt="">
                            <h4>Jerry</h4>
                        </div>
                        <div class="info-pet">
                            <img src="assets/images/perrito1.jpeg" alt="">
                            <h4>Tom</h4>
                        </div>
                        <div class="info-pet">
                            <img src="assets/images/veterinario1.jpg" alt="">
                            <h4>Sam</h4>
                        </div>
                    </div>
                </section>
            </main>

            <div class="text-center mt-4">
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</header>