<footer class="bgDark">
    <div class="container">

        <img src="assets/images/logoveterinaria.svg" class="logo-brand" alt="logo">
        

        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a class="nav-link" [routerLink]="['header']"> Inicio </a></li>
            <li class="list-inline-item footer-menu"><a class="nav-link" (click)="nosotrosR()" [routerLink]="['nosotros1']"> Nosotros </a></li>
            <li class="list-inline-item footer-menu"><a class="nav-link" [routerLink]="['servicios']" (click)="serviciosR()"> Servicios </a></li>
            
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg" class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg" class="img-fluid"></a></li>
        </ul>
        <small style="color:white;">©Bixbita, La innovación de hoy, para el éxito de mañana.</small>
    </div>
</footer>
