<header>
    <section class="textos-header">
        <h1>Mascotas Saludables</h1>
        <h2>Salud y cuidado para tu mascota.</h2>
    </section>
</header>
<div class="container section" id="portfolio">
    <div class="container-fluid">
        <div class="content-center">
            <h2 class="titulo">Mascotas<b> Saludables</b></h2>
        </div>
        <section class="clientes contenedor">
            <div class="cards">
                <div class="card">
                    <div class="contenido-texto-card">
                        <h4>Misión.</h4>
                        <h6>Realizar servicios de gran calidad y alto
                            nivel técnico y científico, dirigidos a nuestros clientes y a sus
                            mascotas para satisfacer sus necesidades.</h6>
                    </div>
                </div>
                <div class="card">
                    <div class="contenido-texto-card">
                        <h4>Visión.</h4>
                        <h6 class="justify">La búsqueda de mejoras en el tratamiento y prevención de la salud,
                            son los ejes de nuestra filosofía.</h6>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <div class="content-center">
            <h2 class="titulo"><b>Valores</b></h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 style="color:#f1f1f1;">Integridad</h2>
                        </a>
                    </div>
                    <img src="assets/images/doctores_perrito.jpg" class="img-fluid" alt="Portfolio 01">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 style="color:#f1f1f1;">Experiencia</h2>
                        </a>
                    </div>
                    <img src="assets/images/consulta.jpeg" class="img-fluid" alt="Portfolio 02">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 style="color:#f1f1f1;">Comunicación</h2>
                        </a>
                    </div>
                    <img src="assets/images/c3.jpg" class="img-fluid" alt="Portfolio 02">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2 style="color:#f1f1f1;">Respeto</h2>
                        </a>
                    </div>
                    <img src="assets/images/c2.jpg" class="img-fluid" alt="Portfolio 02">
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
        </div>
    </div>
</div>
<app-footer></app-footer>