<div class="container col-md-6">
    <button (click)="ListarEmpleado()" class="btn btn-info"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
      </svg></button>
    <div class="card">
        <div class="card-header">
            <h3>Editar Empleado</h3>
        </div>
        <div class="card-body table-responsive" *ngFor="let emple of Empleados | async">

            <div class="form-group">
                <label for="">ID:</label>
                <input [(ngModel)]="Empleado._id"   value="{{emple._id}}" placeholder="{{emple._id}}" type="text" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Nombre:</label>
                <input [(ngModel)]="Empleado.nombre"  value="{{emple.nombre}}" placeholder="{{emple.nombre}}" type="text" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Primer Apellido:</label>
                <input [(ngModel)]="Empleado.apellido1"  value="{{emple.apellido1}}" placeholder="{{emple.apellido1}}" type="text" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Segundo Apellido:</label>
                <input [(ngModel)]="Empleado.apellido2" value="{{emple.apellido2}}"  placeholder="{{emple.apellido2}}" type="text" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Dirección:</label>
                <input [(ngModel)]="Empleado.direccion"  value="{{emple.direccion}}" placeholder="{{emple.direccion}}" type="text" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Telefono:</label>
                <input [(ngModel)]="Empleado.telefono"  value="{{emple.telefono}}" placeholder="{{emple.telefono}}" type="tel" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Correo:</label>
                <input [(ngModel)]="Empleado.correo"  value="{{emple.correo}}" placeholder="{{emple.correo}}" type="email" name="" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Seleccione los dias</label>
                <select [(ngModel)]="Empleado.dias" value="{{emple.dias}}"  class="form-control" id="exampleFormControlSelect1">
                    <option selected value="{{emple.dias}}" >actual ->{{emple.dias}}</option>
                    <option>Lunes a miercoles</option>
                    <option>Jueves a sabado</option>


                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Seleccione un horario</label>
                <select [(ngModel)]="Empleado.horas"  class="form-control" id="exampleFormControlSelect1">
                    <option selected >actual ->{{emple.horas}}</option>
                    <option>10am - 3pm</option>
                    <option>4pm - 7pm</option>


                </select>
            </div>

            <button (click)="Actualizar()" class="btn btn-danger"><svg _ngcontent-plj-c117="" width="1em" height="1em"
                    viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    class="bi bi-arrow-repeat">
                    <path _ngcontent-plj-c117="" fill-rule="evenodd"
                        d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z">
                    </path>
                    <path _ngcontent-plj-c117="" fill-rule="evenodd"
                        d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z">
                    </path>
                </svg><br>Actualizar</button>

        </div>
    </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>