<header>
    <section class="textos-header">
        <h1>Mascotas Saludables</h1>
        <h2>Salud y cuidado para tu mascota.</h2>
    </section>
</header>
<br>
<br>
<br>
<div id="team">
    <div class="container">
        <div class="content-center">
            <h2 class="titulo">Nuestros servicios</h2>
            <h3 class="pesonalizada2">Garantizando la salud y bien estar de tu mascota así como tu tranquilidad.</h3>
        </div>


        <main>
            <section class="contenedor sobre-nosotros">

                <div class="row">
                    <div class="col-md-4">
                        <div class="member-container">
                            <div class="member-details">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                                class="img-fluid"></a></li>
                                </ul>
                            </div>
                            <img src="./assets/images/c1.jpg" class="img-fluid" alt="member 1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="member-container">
                            <div class="member-details">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                                class="img-fluid"></a></li>
                                </ul>
                            </div>
                            <img src="assets/images/c2.jpg" class="img-fluid" alt="member 2">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="member-container">
                            <div class="member-details">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                                class="img-fluid"></a></li>
                                    <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                                class="img-fluid"></a></li>
                                </ul>
                            </div>
                            <img src="assets/images/c3.jpg" class="img-fluid" alt="member 3">
                        </div>
                    </div>

                    <div class="container">
                        <div class="contenedor-sobre-nosotros">
                            <div class="contenido-textos">

                                <h3><span>1</span>Cirugías.</h3>
                                <h5 class="personalizada" class="pers">Estamos comprometidos con un servicio honesto y
                                    ético.
                                    Siempre vamos a actuar en el mejor interés de nuestros pacientes
                                    y sus propietarios. La base de nuestra práctica, es la confianza e integridad.</h5>
                                <h3><span>2</span>Estudios.</h3>
                                <h4 class="personalizada">Nos responsabilizamos en estar en continua formación,
                                    para estar al dia de las últimas novedades clínicas y
                                    poder ofrecer los tratamientos más actualizados a su
                                    mascota.</h4>
                                <h3><span>3</span>Consultas.</h3>
                                <h4 class="personalizada">Nos parece de extremada importancia, el tipo de comunicación
                                    que tengamos con el propietario, por lo que incentivaremos
                                    aquellas acciones que permitan al propietario de la mascota,
                                    entender de forma didáctica, el proceso que sufre su mascota.</h4>
                            </div>

                        </div>
                    </div>

                </div>



                <!--Menu-->
            </section>


            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <!--h2 style="color:#f1f1f1;">Integridad</h2-->
                            </a>
                        </div>
                        <img src="assets/images/veterinario1.jpg" class="img-fluid" alt="Portfolio 01">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <!--h2 style="color:#f1f1f1;">Experiencia</h2-->
                            </a>
                        </div>
                        <img src="assets/images/veterinario3.jpg" class="img-fluid" alt="Portfolio 02">
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>

<br><br>
<app-footer></app-footer>